includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

